<div class="section-page section">
  <div class="container">

    {{!-- Sidebar --}}
    <nav class="section-page__nav nav fade-in-up">
      <div class="search-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="search-icon" viewBox="0 0 16 16" fill="none">
          <path d="M14.855 14.145L11.605 10.895H11.57C12.5718 9.71392 13.078 8.19119 12.9828 6.6454C12.8876 5.09961 12.1984 3.65049 11.0593 2.60119C9.92025 1.55189 8.41955 0.983676 6.87115 1.01542C5.32276 1.04717 3.84661 1.67641 2.7515 2.77152C1.65639 3.86663 1.02715 5.34278 0.995403 6.89117C0.963657 8.43957 1.53187 9.94026 2.58117 11.0793C3.63048 12.2184 5.07959 12.9076 6.62538 13.0028C8.17118 13.098 9.6939 12.5918 10.875 11.59C10.875 11.59 10.875 11.615 10.875 11.625L14.125 14.875C14.1715 14.9219 14.2268 14.9591 14.2877 14.9845C14.3487 15.0099 14.414 15.0229 14.48 15.0229C14.546 15.0229 14.6114 15.0099 14.6723 14.9845C14.7332 14.9591 14.7885 14.9219 14.835 14.875C14.8863 14.8297 14.9277 14.7742 14.9566 14.7122C14.9856 14.6502 15.0015 14.5828 15.0034 14.5144C15.0053 14.4459 14.9931 14.3778 14.9675 14.3143C14.942 14.2508 14.9037 14.1932 14.855 14.145ZM7.00003 12C6.01112 12 5.04442 11.7068 4.22218 11.1574C3.39993 10.608 2.75907 9.8271 2.38063 8.91346C2.00219 7.99983 1.90318 6.9945 2.0961 6.0246C2.28903 5.05469 2.76523 4.16378 3.46449 3.46451C4.16376 2.76525 5.05467 2.28905 6.02458 2.09612C6.99448 1.90319 7.99981 2.00221 8.91344 2.38065C9.82708 2.75909 10.608 3.39995 11.1574 4.2222C11.7068 5.04444 12 6.01114 12 7.00005C12 7.65666 11.8707 8.30684 11.6194 8.91346C11.3682 9.52009 10.9999 10.0713 10.5356 10.5356C10.0713 10.9999 9.52007 11.3682 8.91344 11.6194C8.30682 11.8707 7.65664 12 7.00003 12Z" fill="#686666"/>
        </svg>
        {{search scoped=settings.scoped_kb_search submit=false}}
      </div>
      <div class="nav__list">

      </div>
    </nav>

    {{!-- Main Content --}}
    <section class="section-page__content">
      <div class="section-page__heading fade-in-up">
        <h1 class="fade-in-up">{{section.name}}</h1>
        {{#if settings.show_follow_section}}
          <div class="section-subscribe fade-in-up">{{subscribe}}</div>
        {{/if}}
      </div>
      {{#if section.description}}
          <p class="fade-in-up">{{section.description}}</p>
      {{/if}}

      {{#if section.articles}}
        <ul class="section-page__articles">
          {{#each section.articles}}
            <li class="fade-in-up">
              <div class="section-page__article">
                <h6><a href="{{url}}">{{title}}</a></h6>
                <div>{{body}}</div>
                <div>
                  <a href="{{url}}"></a>
                  {{t 'see_more'}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                    <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
      {{/if}}

    </section>
  </div>

</div>